/* navigation bar */

.gallery_qu{
	position:absolute;
	top:48%;
	left:38%;
	font-size:800%;
	color:#EFFFFD;
	font-family: 'Alegreya', serif;

}

.gallery_qu2{
	position:absolute;
	top:78%;
	left:32%;
	font-size:180%;
	color:#EFFFFD;
	font-family: 'Lobster', cursive;

}

.content_gallery{
	margin-top:40%;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'poppins', sans-serif;
}

.header{
	width:100%;
	background-size:cover;
	height: 100vh;
	background-position:center;
	position:absolute;
	z-index:-100;

}

.logo_nav{

	width:180px;
	margin:20px 0;
	cursor:pointer;
	margin-left:45%;
}

.nav ul li{
	display:inline-block;
	list-style:none;
	margin:15px 35px;
	color:#fff;
	font-size:18px;
}

.nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;
   background:#03045E;
   width:100%;
   margin-top:-25px;
   width:100%;
   padding:10px 0;
   text-align:center;
   z-index:100;
}

.nav ul li a {
	text-decoration:none;
	color:#F5F5F5;
}
/* form  */
#formcenter{
	font-size:20px;
	padding-top:40%;
	padding-left: 65%;
	qqpadding-right: 37%;
}

/* hover effects (opacity)*/

images {
	padding-left:1%;
	margin-top:1%;
	width:100%;
}

.images div {
	margin-left:1.55%;
	position: relative;
	float: left;

}





.hover :hover img {
	opacity: .6;
	transition: .3s ease-in-out;
}



/* view travel places */
#large{
	background-color: #E7E7DE;
	position:relative;
	margin-bottom:3%;
	margin-top:13%;
	margin-left:1%;
	margin-right:20%;
	width:98%;
	border-style:groove;
	border-width:8px;
}


.largeImage{
	padding-top:1%;
	padding-left: 4%;
	width:400px;
	height:250px;
}
#largeImageDiv{
	padding-left: 10%;
	float:bottom;
}
#detailsDiv{
  padding-left:7% ;

}
#details{
	padding-left:3%;
	padding-top: 3%;
	max-width:93%;
	font-size: 20px;
	text-align:justify;

}




/* back to top  */
#button {
	background-color: rgba(105, 11, 135, 0.85); /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 18px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	left: 46%;
	position: relative;
}
#button:hover{
	background-color:#0F3057;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}


html{scroll-behavior:smooth}
